* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #1f242d;
}

a {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5 );
    background: #262c37;
    letter-spacing: 2px;
    font-size: 1.5rem;
    transition: .5s;
}

a:hover {
    color: rgba(255, 255, 255, 1);
}

a span {
    display: block;
    position: absolute;
    background: #2894ff;
}

a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s;
}

a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .5s;
}

a span:nth-child(3) {
    right: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

a:hover span:nth-child(3) {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform .5s;
}

a span:nth-child(4) {
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s;
}

a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}